<div ng-controller="NouController" ng-init="">
  <div id="tarjeta">
    <span class="cap">
      <img src="/images/svc.svg" width="45px" height="45px" />
      <p><b>Llicència administrativa per a la tinença i conducció de gessos potencialment perillosos</b></p>
    </span>
    <form id="alta" method="POST">
    Titular:<input type="text" name="titular" value="" />
    NIF:<input type="text" name="NIF" value="" /><br>
    Nom gos:<input type="text" name="nomGos" value="" /> Microxip:<input type="text" name="xip" value="" /><br>
    Raça: <input type="text" name="race" value=""> Exp:<input type="text" size="10" name="raça" value=""> Placa núm:<input type="text" name="numPlaca" size="10" value="" />
    Adreça:<input type="text" name="adress" value="" />
    Llicència núm: <input type="text" name="llicNum" value="" />
    Registre Cens: <input type="text" name="regCens" value="" /><br>
    Data expedicio: <input type="datetime-local" name="expData" value="" />Valid fins:<input type="datetime-local" name="valData" value="" />
    <input type="submit" value="Desar" />
    </form>
   </div>

</div>
