body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#tarjeta{
  display:flex;
  font-size: 8px;
  flex-direction:column;
  width:325px;
  height: 210px;
  border-style: dashed;
  justify-content:center;
}
  .cap{
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
