body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#tarjeta{
  display:flex;
  font-size: 16px;
  flex-flow:column;
  width:650px;
  height: 420px;
  border-style: solid;
  border-width: thin;
  align-items:center;
  padding: 10px;
}
